.page-error {
  font-weight: 500;
  line-height: 1;
  color: var(--main-text-color);
}

.page-error__code {
  font-size: 40px;
  margin: 0 0 20px 0;
}

.page-error__message {
  font-size: 20px;
  margin: 0 0 70px 0;
}

.page-error__link {
  font-size: 11px;
  color: var(--link-color);
}
