<main class="page-error flex-center-screen">
  <h1 class="page-error__code">{{this.error-code}}</h1>
  <p class="page-error__message">{{this.error-message}}</p>
  <a class="page-error__link" href="../../pages/index/index.hbs">{{this.link-text}}</a>
</main>