<input id="burger-menu_type_user" type="checkbox" class="burger-menu__checkbox" name="none">
<label for="burger-menu_type_user" class="burger-menu burger-menu_type_user">︙

<ul class="burger-menu__popup burger-menu__popup_type_user">
  <li class="burger-menu__button">
    <img class="burger-menu__icon" src="../../asserts/add-user-icon.png" alt="иконка">
    Добавить пользователя
  </li>
  <li class="burger-menu__button">
    <img class="burger-menu__icon" src="../../asserts/remove-user-icon.png" alt="иконка">
    Удалить пользователя
  </li>
</ul>

</label>