{{!< main}} <main class="index profile">
  <aside class="profile__aside">
    <a class="profile__link-icon" href="../index/index.hbs">
    </a>
  </aside>

  <section class="profile__container">
    <img src="../../asserts/profile__avatar.png" alt="аватарка" class="profile__avatar">
    <p class="profile__user">Иван</p>

    <div class="profile__wrap">
      {{> 'profile__form/profile__form'}}

      <a href="" class="profile__link">Изменить данные</a>
      <a href="" class="profile__link">Изменить пароль</a>
      <a href="" class="profile__link profile__link_type_out">Выйти</a>
    </div>
  </section>
  </main>
  