<li class="chat">
  <div class="chat__avatar"></div>

  <div class="chat__container">
    <div class="chat__wrapper">
      <h2 class="chat__name">{{this.name}}</h2>
      <p class="chat__time">{{this.time}}</p>
    </div>

    <div class="chat__wrapper">
      <p class="chat__text">{{this.text}}</p>
      <p class="chat__count">{{this.count}}</p>
    </div>
  </div>
</li>
