<form name="search" class="side-bar__form" novalidate>
  <input
    class="side-bar__input"
    type="text"
    placeholder="Поиск"
    name="search"
    required
    minlength="2"
    maxlength="30"
  />
</form>