<form class="profile__form" name="profile">
  <label class="profile__label">Почта
    <input type="email" name="email" class="profile__input" required value="pochta@yandex.ru">
  </label>

  <label class="profile__label">Логин
    <input type="text" name="login" class="profile__input" required minlength="2" maxlength="30">
  </label>

  <label class="profile__label">Имя
    <input type="text" name="first_name" class="profile__input" required minlength="2" maxlength="30">
  </label>

  <label class="profile__label">Фамилия
    <input type="text" name="second_name" class="profile__input" required minlength="2" maxlength="30">
  </label>

  <label class="profile__label">Телефон
    <input type="number" name="phone" class="profile__input">
  </label>

</form>