@import '../vendor/normalize.css';
@import '../pages/index/index.css';
@import '../styles/form.css';
@import '../partials/button-submit/button-submit.css';

.root {
    --main-bg-color: #FFFFFF;
    --field-bg-color: #EFEFEF;
    --second-bg-color: #F8F8F8;
    --main-text-color: #1E1E1E;
    --shadow-text-color: #999999;
    --error-text-color: #FF2F2F;
    --link-color: #3369F3;
    --big-border-radius: 30px;
    --medium-border-radius: 12px;
    --small-border-radius: 5px;
    --box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    --border-line: 1px solid #EAEAEA;
}

.root {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    margin: auto;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    max-width: 1280px;
    min-width: 800px;
}

.flex-center-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.pointer, a {
    cursor: pointer;
    text-decoration: none;
}